<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<header>
    <%= title %>
</header>
<body>
    <ul>
    <% movies.map((movie) => { %>
        <li>
        Title: <%= movie.movie_title %>,
        Director: <%= movie.movie_director %>,
        Year: <%= movie.movie_year %>
        </li>
    <% }) %>
    </ul>
    <a href="/">Back to Main Page</a>
</body>
</html>