<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<header>
    <%= title %>
</header>
<body>
    <% movies.map((movie) => { %>
        <ul><a href="/movie/<%= movie.id %>"><%=movie.movie_title%></a>
            <li><%= movie.movie_director %></li>
            <li>Year: <%= movie.movie_year %></li>
        </ul>
    <% }) %>
    <a href="/">Back to Main Page</a>
</body>
</html>