<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.movie_title %> details </title>
</head>
<header>
    <%= movie.movie_title %>
</header>
<body>
    <ul>
        <li>
        Title: <%= movie.movie_title %>,
        Director: <%= movie.movie_director %>,
        Year: <%= movie.movie_year %>
        </li>
    </ul>
    Category Types:
    <ul>
        <% categoryTypes.map((category) => { %>
            <li><%= category %></li>
        <% }) %>
    </ul>
    <ul>
    <li><a href="/edit/<%=movie.id %>">Update Movie</a></li>
    <li><a href="/">Back to Main Page</a></li>
    </ul>
</body>
</html>